#!/bin/sh
# Config file for subnodes configuration

################################
# Common settings
#
AP_COUNTRY=DE
AP_SSID="subnodes$((RANDOM%10000+1))"
DO_SET_MESH=n


################################
# Advanced settings
#
BOOTSTRAP_NODE=n

# If this is a client node, add bootstrap info:
# SWARM_KEY=""
BOOTSTRAP_IP=""
BOOTSTRAP_PEER_ID=""


################################
# Mesh settings

# DO_SET_MESH=n

# Parameters used in subnodes_mesh startup script
MESH_SSID="submesh"
MESH_CHANNEL=3
CELL_ID=02:12:34:56:78:90
MTU=1532

# Set mode as "server" or "client"
GW_MODE="client" 
GW_IP=192.168.100.1

# To-Do: Specify exact device you would like to use for mesh point
#MESH_PHY="phy2"


################################
# Create a bridge for mesh network and access point
# Start with 2, or 1 for a gateway bridge
#
# BRIDGE_IP=10.168.100.1
BRIDGE_IP=10.168.100.2
BRIDGE_NETMASK=255.255.0.0


################################
# Hostapd settings
#
RADIO_DRIVER=nl80211
# AP_COUNTRY=DE

# The name of your wireless network. Must be unique.
# AP_SSID="subnodes$((RANDOM%10000+1))"

# Recommended channels: 2, 5, 9. Do not use channels 12 or 13 because they won't work with the onboard RPi3 radio
AP_CHAN=2

# Start with 2, or 1 for a gateway access point
AP_IP=10.80.100.2
AP_NETMASK=255.255.255.0

# To-Do: Specify exact device you would like to use for access point
#AP_PHY="phy1"


################################
# DNSMasq settings
# Keep in mind IP address overlap. To-do: use Avahi
#
AP_DHCP_START=10.80.100.101
AP_DHCP_END=10.80.100.254
DHCP_NETMASK=255.255.255.0
DHCP_LEASE=1h

# Configure below if we are joining a mesh network
BR_DHCP_START=10.168.100.101
BR_DHCP_END=10.168.100.254

# SET THE IP ADDRESS OF THE GATEWAY ROUTER FOR ROUTING BETWEEN NETWORKS
DHCP_ROUTER=10.168.100.1

# SET THE IP ADDRESS OF THE GATEWAY ROUTER WHICH WE WILL ALSO USE FOR DNS
DNS=10.168.100.1
